*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(0, 255, 242);
}

.ContenedorGeneral{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(153, 0, 255);
  margin: 20px auto;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  
}
.spanResultado{
  background: rgb(51, 255, 0);
  width: 90%;
  text-align: center;
  font-weight: hold;
  font-size: 1.5em;
}

.titulo{
  font-weight: bold;
  font-size: 1.5em;

}